<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset("login-regsister-styles/style.css") }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset("login-regsister-styles/script.js") }}"></script>

    <title>Login</title>
</head>

<body>

<div class="form-container">

    <!-- Top left link -->
    <a href="{{ path('app_home_index') }}" class="back-button">
        <img src="{{ asset('img/previous.png') }}" alt="Back" style="width: 40px; height: 40px;">
    </a>

    <form method="post">
        <h1>Login</h1>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" name="email" class="form-control" value="{{ last_username }}" id="emailInput" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        <button class="btn btn-dark" type="submit">Connexion</button>

        <!-- Larger "S'inscrire" link -->
        <p class="btn btn-dark larger-link"><a href="{{path('app_register')}}" class="custom-a">S'inscrire</a></p>
    </form>

    <img src="{{ asset('images/header.png') }}" class="fitness-woman" />
</div>
<img src="{{ asset('images/gym-inside.webp') }}" class="img-container" />

</body>

</html>
