{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset("add_adherant.css") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">Register</div>
        <br>
        <div class="content">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.cin, {'attr': {'class': 'form-control', 'placeholder': 'ID Number'}}) }}
                </div>
                 <div class="col-md-6">
                {{ form_row(registrationForm.date_naissance, {'attr': {'class': 'form-control', 'placeholder': 'Date of Birth'}}) }}
                 </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.roles, 'User Type', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(registrationForm.roles, {'attr': {'class': 'custom-select modern-select'}}) }}
            </div>


            <button type="submit" class="btn btn-primary btn-block">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
{% endblock %}