<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="{{ asset("index.css") }}">
    <title>Profile {{ app.user.prenom }}</title>
</head>
<body>
<nav>
    <div class="nav__logo">
        <a href="#"><img src="{{ asset('images/logo.png') }}" alt="logo" /></a>
    </div>
    <ul class="nav__links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Program</a></li>
        <li class="link"><a href="#">Service</a></li>
        <li class="link"><a href="#">About</a></li>
        <li class="link"><a href="#">Community</a></li>
    </ul>

    {% if not app.user %}
        <a href="{{ path('app_login') }}">
            <button class="btn btn-login">Customer Area</button>
        </a>
    {% else %}
        {# Display the logout button if the user is logged in #}
        <a href="{{ path('app_logout') }}">
            <button class="btn">Logout</button>
        </a>
    {% endif %}
</nav>
<div class="container">
    <div class="user-card">

{% block body %}
    <h1>Create a new Messagerie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_messagerie_index') }}">Back to list</a>
    </div>
</div>
{% endblock %}
