<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Abonnement</title>
    <link rel="stylesheet" href="{{ asset("addcategorie.css") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="title">Nouvelle Catégorie</div>
    <div class="content">
        {{ form_start(form) }}
        <div class="user-details">
            <div class="input-box">
                {{ form_label(form.nom_categorie, 'Nom de la catégorie') }}
                {{ form_widget(form.nom_categorie) }}
            </div>
            <div class="input-box">
                {{ form_label(form.abonnement, 'Abonnement') }}
                {{ form_widget(form.abonnement) }}
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Enregistrer">
        </div>
        <div class="button">
            <a href="{{ path('app_categorie_index') }}">
                <input type="button" value="Retour à la liste">
            </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
</body>
</html>
